body::-webkit-scrollbar {
    width: 8px;
    height: 0px;
    background-color: rgba(0,0,0,0);
}

body::-webkit-scrollbar-thumb {
    background: rgba(110, 110, 110, .4);
}

html, body {
    overflow-x: hidden !important;
}

#ytp-video-filters-htcom{
	background-position:center !important;
	background-size:cover;
}