html, body {
  padding: 0px;
  background: black;
  color: white;
  font-size: 10px;
  font-family: sans-serif;
  overflow: hidden !important;
  -webkit-font-smoothing: antialiased !important;
  /* min-height:600px;
  max-height:600px;
  height:600px; */
}

body {
  min-width: 490px;
  padding-bottom: 20px;
  padding-top: 30px;
  margin-right:-3px;
}

#videoeffect, #audioapp{
	overflow:hidden !important;
}

#videoeffect{
	display:inline-block !important;
	width:210px;
	height:402.5px;
	background-color:rgba(255, 253, 253, 0.21);
	border-radius:1px;
	padding:10px 5px;
	margin-top:0px;
	z-index:999999;
	/* transform:scale(0.9); */
}
#gap{
	padding-top:10px;
	padding-bottom:10px;
	overflow-x:hidden;
	overflow-y:scroll;
	height:382px;
}

#audioapp{
	/*display:inline-block !important;*/
	float:right;
}

article{
	margin-bottom:10px;
	color:#9e9e9e;
}
#showhidenote{
	cursor: pointer;
    color: white;
    font-weight: bold;
    padding-left: 0px;
	font-size:13px;
	text-align:right;
}
#showhidenote:hover{color:lighter;}
.note{
	padding-right: 12px;
    text-align: justify;
    hyphens: manual;
    display: none;
    text-indent: 5px;
    margin-bottom: 0px;
    margin-top: 5px;
	font-family:sans-serif;
	font-size:13px;
}

.note b{color:yellow;font-weight:normal;}
.note span{color:#d1d1d1; font-weight:bold;}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fbe100;
    padding: 8px 8px;
    background: url(32.png) no-repeat 2px 2px;
    background-size: contain;
    user-select: none;
    width: 100%;
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 0px;
}

h2{
    text-transform: uppercase;
    text-align: center;
    color: #d5d5d5;
    padding: 7px 4px;
    user-select: none;
    width: calc(100% - 18px);
    font-size: 12px;
    font-stretch: extra-expanded;
    font-family: sans-serif;
	word-spacing: 5px;
	letter-spacing:1px;
    margin-top: 0px;
	margin-bottom:10px;
	border-radius:1px;
    background-color: rgba(255, 255, 255, 0.2);
    background: linear-gradient( rgba(255,255,255,.25),rgba(255,255,255,.15));
}

ul {
  padding: 0px;
  list-style-type: none;
  width: 95%;
  padding-bottom: 10px;
  margin-top:-6px;
}

li {
  height: 29px;
  /*width:259px;*/
}

li * {
  margin: 5px;
  cursor: pointer;
  display: inline-block;
}

li input {
  margin: 0px 5px 2px 5px;
  vertical-align: middle;
}

li > input + label{
	background-position: 0 -241px;
}

li:hover {
  background-color: #1e7dc9;
  border-radius:1px;
}

li label {
  display: inline-block;
  width: calc(100% - 33px);
  height: 24px;
  padding-top: 2px;
  font-family: sans-serif;
  word-spacing: 0px;
  font-size:13px;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: transparent;
  display:none;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .1);
  display:none;
}

header {
  position: fixed;
  height: 33px;
  width: 100%;
  top: 0px;
  left: 0px;
  background: black;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  padding-bottom: 0px;
  background: linear-gradient(#c10000, #FF5722);
  z-index:99999;
}

footer {
  position: fixed;
  height: 22px;
  width: 100%;
  background: linear-gradient(360deg, #c10000, #FF5722);
  bottom: 0px;
  left: 0px;
  margin: 0px auto;
  text-align: center;
  padding-left: 0px;
  padding-bottom: 13px;
  z-index:99999;
}

footer label {
  display: inline-table;
  vertical-align: middle;
}

label.caption {
  /*width: 145px;*/
  font-weight: bold;
  color: white;
  padding-left: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: sans-serif;
  position: absolute;
  top: 7px;
  left: 3px;
  user-select: none;
  cursor: pointer;
}

.switch {
  width: 60px;
  height: 34px;
  transform: scale(.5);
  top: -2px;
  position: absolute;
  right: -6px;
}

.switch input {
  display: none;
}

.myslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.myslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#switchdm:checked+.myslider {
  background-color: #2196F3;
}

#switchdm:focus+.myslider {
  box-shadow: 0 0 1px #2196F3;
}

#switchdm:checked+.myslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

svg {
  display: inline-block;
  width: 20px;
  height: 33px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

svg:hover {
  background: rgba(255, 255, 255, .3);
}

/*audio*/
#audioapp{
	background: rgba(255,255,255,.1);
    border-radius: 1px;
    height: 250px;
    padding-top: 9px;
    margin-right: -70px;
    margin-bottom: 90px;
    padding-right: 2px;
    transform: rotate(90deg) /* scale(.9) */;
    margin-top: 82px;
    margin-left: -82px;
}
#audioapp input, #audioapp select{
	background: transparent !important;
	color: #03A9F4 !important;
	text-shadow: none !important;
	box-shadow:none !important;
	border:1px solid gray;
}
#audioapp select{
	border:1px solid #9E9E9E !important;
	text-transform:capitalize;
}
#audioapp select option{
	background: #343434 !important;
	text-transform:capitalize;
}
#audioapp .slider-bg{
	background:transparent !important;
	top: 0px !important;
    bottom: -12px !important;
}
#audioapp .slider::-webkit-slider-thumb {
	background: #4CAF50 !important;
	-webkit-appearance: none !important;
	appearance: none important;
}
#audioapp .slider-wrap span{
	background:#03A9F4 !important;
	box-shadow:none !important;
	transform:rotate(90deg);
	left:1px;
	top:3px;
	cursor:pointer;
}
#audioapp .slider-line{
	background:none !important;
}
#audioapp .tick::before, #audioapp .tick::after{
	background:#2196f321 !important;
	box-shadow:none !important;
}
#audioapp .slider-wrap{
	width:20px !important;
}
#audioapp .slider-wrap .label, #audioapp .slider-wrap .val{
	transform:rotate(-90deg) !important;
	user-select:none;
}
#audioapp .slider-wrap .label{
	left: -15px !important;
	bottom:-35px;
}
#audioapp .slider-wrap .val{
	left: 5px !important;
}
#audioapp .sliders .rule div{
	transform:rotate(-90deg) !important;
}
#audioapp .sliders .rule{
	top: 16px;
    left: 10px;
	user-select:none;
}
#manualfilter span *{
	display:inline-block !important;
}
#manualfilter span label{
	width:140px !important;
	color:gray !important;
}
#manualfilter span input{
	width: 75px;
    background: transparent;
    color: red;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 3px 5px;
    text-align: center;
	margin-left:60px;
}
#manualfilter{
	background:rgb(30,30,30);
	border-radius:1px;
	width:200px;
}
#spbutton{margin-bottom:10px;}
#setvalue{width:130px !important;margin-left:30px !important;padding:5px 10px;}
#spbutton input{color:white !important;padding:5px 0px !important;background:darkgray;}
#spbutton input:active{background:black;}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    border-radius:5px;
}
#audioapp .slider-wrap span{
	width: 15px;
    height: 14px;
}

#audioapp .slider-wrap span:before{
	left: calc(50% - 0.5px) !important;
    top: calc(50% + 1px) !important;
}
#tip_audio{
	position:fixed;
	top:10px;
	right:20px;
	z-index:999999;
	text-align:right;
}
#tip_audio p.note{background-color:#1a1a1a;padding:10px;margin:0px 20px;border-left:0.5px solid gray;border-right:0.5px solid gray;}